*, 
*:before, 
*:after {
  box-sizing: inherit;
}

html, 
body {
	width: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

header {
	position: fixed;
	border-bottom: 1px solid #DDD;
    z-index: 9999;
    background-color: #fff;
    width: 100%;
    position: top;
}
.wrapper {
	width: 60%; 
	margin: 0% auto;
	padding: 0.5rem; /*16px * 0.5rem = 8px*/ 
	overflow: hidden;
}

.logo {
	width: 1.75rem;
	display: inline-block;
	vertical-align: top;
	margin-top: 0.5rem;
}

.top_navigation {
	width: 90%;
	float: right;
	display: inline-block;
}

.top_navigation>ul {
	list-style: none;
	display: block;
	padding: 0%;
	width: 100%;
	text-align: right;
	margin: 0%;
}

.top_navigation>ul>li {
	display: inline-block;
	text-align: center;
}

.top_navigation>ul>li>a:link, 
.top_navigation>ul>li>a:visited {
	padding: 1.25rem 0rem 1.25rem 1.563rem;
	display: block;
	text-decoration: none;
	color: #838994;
	transition: color 0.5s ease;
}

.top_navigation>ul>li>a:hover, 
.top_navigation>ul>li>a:focus, 
.top_navigation>ul>li>a:active, 
.top_navigation>ul>li>a.active {
	color: #000000;
	font-weight: 500;
}

@media only screen and (max-width: 1000px) {
	.wrapper,
	.top_navigation {
        width: 100%;
    }

    .logo {
    	display: block;
    	margin: 1rem auto;    	
    }

	.top_navigation>ul {
		float: none;
		width: 100%;
	}

	.top_navigation>ul>li{
		width: 50%; 
		float: left; 
		border-top: 0.05rem solid #000000;
	}

	.top_navigation>ul>li>a:link, 
	.top_navigation>ul>li>a:visited {
		padding: 0.5rem 0.25rem;
	}

	.top_navigation>ul>li:nth-of-type(odd) a {
		border-right: 0.05rem solid #000000;
	}
}

.clear {
	clear: both;
}

.masthead {
	width: 100%;
	background: url(../images/masthead_bg.jpg) no-repeat center bottom;
	background-size: cover;
	text-align: center;
	padding: 12rem 0rem 19rem 0rem;
	color: #FFFFFF;
}

.masthead h1, .masthead p {
	font-weight: 300;
}

.masthead h1 {
	font-size: 3.125rem;
	margin: 0rem;
}

.masthead p {
	margin: 1.25rem 0rem;
    font-size: 1.563rem;
}

.masthead button {
	width: 9.688rem;
    background-color: #f15a29;
    border-color: #f15a29;
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    color: white;
    font-size: 1.125rem;
    transition: background-color 0.5s ease;
}

.masthead button:hover {
	background-color: #d9400e;
    border-color: #cf3d0e;
    cursor: pointer;
}

@media only screen and (max-width: 1000px) {
	.masthead {
		padding: 15rem 0rem 0rem 0rem;
    	height: 35rem;
    	background-position: 60% 100%;
	}
}

.cases {
	margin-top: 5rem;
}

.cases h2 {
	color: #000000;
	text-align: center;
	font-size: 3.125rem;
	margin: 0rem;
	font-weight: 300;
}

.cases>ul {
	list-style: none;
	padding: 0rem;
	margin: 3rem 0rem 5rem 0rem;
}

.cases>ul>li {
	display: inline-block;
	width: 30%;
	text-align: center;
	vertical-align: top;
}

.cases>ul>li:not(:last-child) {
	margin-right: 3%;
}

.devices {
	width: 40%;
	margin: 0rem auto;
}

.caption {
	font-weight: 400;
    font-size: 1.563rem;
    margin: 2.5rem 0px 1.875rem;
}

@media only screen and (max-width: 1000px) {
	.cases h2 {
		font-size: 2rem;
	}

	.caption {
		font-size: 1.25rem;
		margin-bottom: 0rem;
	}
}

.social {
	background-color: #FFFFFF;
    overflow: auto;
    padding-bottom: 9.375rem;
    text-align: center;
}

.social hr {
    border: 0;
    border-top: 1px solid #eaebec;
    margin: 1.313rem 0;
}

.social h3 {
	font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0rem;
}

.icons {
	list-style: none;
	padding: 0rem;
}

.icons>li {
	border-radius: 1.25rem;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    margin: 1.25rem 5px;
    border: 1px solid #eaebec;
    padding: 0.625rem 0;
    text-align: center;
}

.social .twitter {
    color: #55acee;
}

.social .facebook {
    color: #4c66a4;
}

.social .instagram {
    color: #3f729b;
}

.social p {
	font-size: 0.9rem;
    font-weight: 300;
    color: #838994;
}