html, 
body {
	width: 100%;
	font-size: 16px;
}

.wrapper {
	width: 60%;
	margin: 0% auto;
}

.logo {
	width: 1.75rem;
	margin: 0.5rem;
}

.top_navigation {
	width: 90%;
	display: inline-block;
}

.top_navigation>ul {
	list-style: none;
	display: block;
	padding: 0%;
	width: 100%;
	float: right;
	text-align: right;
}

.top_navigation>ul>li {
	display: inline-block;
	text-align: center;
}

.top_navigation>ul>li>a:link, 
.top_navigation>ul>li>a:visited {
	padding: 0.5rem 1rem;
	display: block;
	text-decoration: none;
	color: #838994;
}

.top_navigation>ul>li>a:hover, 
.top_navigation>ul>li>a:focus, 
.top_navigation>ul>li>a:active, 
.top_navigation>ul>li>a.active {
	color: #000000;
}

@media only screen and (max-width: 1500px) {
	.wrapper,
	.top_navigation {
        width: 100%;
    }

    .logo {
    	display: block;
    	margin: 0.75rem auto;    	
    }

	.top_navigation>ul {
		float: none;
		width: 100%;
	}

	.top_navigation>ul>li{
		width: 50%; 
		float: left; 
		border-top: 0.05rem solid #000000;
	}

	.top_navigation>ul>li a {
		padding: 0.75rem 1rem;
	}

	.top_navigation>ul>li:nth-of-type(odd) a {
		border-right: 0.05rem solid #000000;
	}
}

.clear {
	clear: both;
}

